body {
	color:#717174;
	font-family: Tahoma, Geneva, sans-serif;
	font-size:13px;
	line-height:1.5em; 
	background-color: #121213;
}

a:link, a:visited {
	color:#C0C0C2;
	text-decoration: underline;	
}

a:hover {
	color: #0588B9;
	text-decoration: underline;
}

img { border: none; }

ul {
	list-style-image:  url(../images/list_icon.png);
}

h1, h2, h3, h4, h5 { font-weight: normal; }

h1 { font-size: 40px; color: #fff; }
h2 { font-size: 32px; color: #fff; }
h3 { font-size: 21px; color: #fff; }
h4 { font-size: 18px; color: #fff; }
h5 { font-size: 16px; color: #fff; }
h6 { font-size: 14px;}

.cleaner { font-size: 0px; }


/* menu */
#menu_wrapper {
    background: url(../images/menu_wrapper.jpg) repeat-x;
}

#menu {
	background: url(../images/menu.jpg) no-repeat;
}

#menu ul {
	list-style: none;
}

#menu ul li a{
	text-align: center;
	font-size: 16px;
	text-decoration: none;
	color: #d8d3bd;	
	font-weight: normal;
	outline: none;
}

#menu li .current{
	color: #fff;
	background: url(../images/menu_current.png) no-repeat;
}

#menu li a:hover{
	color: #fff;
	background: url(../images/menu_hover.png) no-repeat;
}

/* Social Media Icons */
#menu ul li.icons a{
	text-align: center;
	text-decoration: none;
	color: #d8d3bd;
	outline: none;
}

#menu ul li.icons a:hover{
	color: #fff;
	background: url(../images/menu_icons_hover.png) no-repeat;
}
/* End of Social Media Icons */
/* end of menu */


/* header */
#header_wrapper {
    background: url(../images/header_wrapper.jpg) repeat-x;
	border-bottom: 1px solid #000;
}

#header {
	background: url(../images/header.jpg) no-repeat;
}

#header  #site_title h1 a{
	font-size: 30px;
	color: #ffffff;
	font-weight: normal;
	text-decoration: none;
}

#header  #site_title h1 a span {
	text-align: left;
	font-size: 14px;
	color: #5f6675;
	font-weight: bold;
	letter-spacing: 2px;
}

#header #slider {
	background: url(../images/slider.png) no-repeat;
}
/* end of header */


/* content */
/* post */
.post_box {
	background: url(images/hor_divider.jpg) bottom repeat-x;	
}

.post_content .left img {
	border:1px solid #000;
	background: #1a1b1c;
}

.post_content .left img.original {
	border:1px solid #000;
	background: #1a1b1c;
}

.post_content .center {
	text-align: center;
}

.post_section .post_info{
	font-style: italic;
}

.post_box .comment_tab {
	border-bottom: 1px dashed #666;
	font-size: 20px;
	font-weight: bold;
}
/* end of post */
/* end of content */


/* footer */
#footer {
	border-top: 1px solid #262626;
	text-align: center;
	color: #6e6965;
	background: #000000;
	line-height: 40px;
}

#footer a, a:visited {
	color: #6e6965;
}

#footer a:hover {
	color: #383634;
}
