body {
	color:#717174;
	font-family: Tahoma, Geneva, sans-serif;
	font-size:13px;
	line-height:1.5em; 
	background-color: #121213;
}

a:link, a:visited {
	color:#C0C0C2;
	text-decoration: underline;	
}

a:hover {
	color: #0588B9;
	text-decoration: underline;
}

img { border: none; }

h1, h2, h3, h4, h5 { font-weight: normal; }

h1 { font-size: 40px; color: #fff; }
h2 { font-size: 32px; color: #fff; }
h3 { font-size: 21px; color: #fff; }
h4 { font-size: 18px; color: #fff; }
h5 { font-size: 16px; color: #fff; }
h6 { font-size: 14px;}

.cleaner { font-size: 0px; }

.image_wrapper {
	border: 1px solid #333;
	background: #000;
}

blockquote { font-style: italic; }
cite { font-weight: bold; }
cite span { color: #fff; }

.button a {
	background:	url(../images/button.png) no-repeat;
	color: #ccc;
	font-weight: bold;
	font-size: 11px;
	text-align: center;
	text-decoration: none;
}

.button a:hover {
	color: #fff;
	background: url(../images/button_hover.png) no-repeat;
}

ul {
	list-style-image:  url(../images/list_icon.png);
}

/* menu */
#menu_wrapper {
    background: url(../images/menu_wrapper.jpg) repeat-x;
}

#menu {
	background: url(../images/menu.jpg) no-repeat;
}

#menu ul {
	list-style: none;
}

#menu ul li a{
	text-align: center;
	font-size: 16px;
	text-decoration: none;
	color: #d8d3bd;	
	font-weight: normal;
	outline: none;
}

#menu li .current{
	color: #fff;
	background: url(../images/menu_current.png) no-repeat;
}

#menu li a:hover{
	color: #fff;
	background: url(../images/menu_hover.png) no-repeat;
}

/* Social Media Icons */
#menu ul li.icons a{
	text-align: center;
	text-decoration: none;
	color: #d8d3bd;
	outline: none;
}

#menu ul li.icons a:hover{
	color: #fff;
	background: url(../images/menu_icons_hover.png) no-repeat;
}
/* End of Social Media Icons */
/* end of menu */

/* header */
#header_wrapper {
    background: url(../images/header_wrapper.jpg) repeat-x;
	border-bottom: 1px solid #000;
}

#header {
	background: url(../images/header.jpg) no-repeat;
}

#header  #site_title h1 a{
	font-size: 30px;
	color: #ffffff;
	font-weight: normal;
	text-decoration: none;
}

#header  #site_title h1 a span {
	text-align: left;
	font-size: 14px;
	color: #5f6675;
	font-weight: bold;
	letter-spacing: 2px;
}

#header #slider {
	background: url(../images/slider.png) no-repeat;
}
/* end of header */

/* top row */
#top_row_wrapper {
	background: url(../images/top_row.jpg) repeat-x; 
	border-bottom: 1px solid #000;
}

#top_row .top_row_box {
	background: url(../images/top_row_divider.png) right center no-repeat;
}

#top_row .last {
	background: none;
}

#top_row p {
	color: #777270;
}
/* end of top row */

/* content */
#content_wrapper {
	border-bottom: 1px solid #282829;	
}

.services_section {
	border-bottom: 1px solid #CCC;
	background: url(images/divider.jpg) bottom repeat-x;	
}

.services_section .left img {
	border:1px solid #CCC;
}

/* post */
.post_box {
	background: url(images/hor_divider.jpg) bottom repeat-x;	
}

.post_content .left img {
	border:1px solid #000;
	background: #1a1b1c;
}

.post_content .left img.original {
	border:1px solid #000;
	background: #1a1b1c;
}

.post_content .center {
	text-align: center;
}

.post_section .post_info{
	font-style: italic;
}

.post_box .comment_tab {
	border-bottom: 1px dashed #666;
	font-size: 20px;
	font-weight: bold;
}
/* end of post */

/* gallery */
#gallery ul { list-style: none; }
/* end of gallery */

/* contact form */
#contact_form form {
	/* border:1px solid #e2d1be; */
}

#contact_form form .input_field {
	background: #222222;
	border: 1px solid #666666;
	color: #CCCCCC;
}

#contact_form form label {
	font-size: 14px;	
}

#contact_form form textarea {
	background: #222222;
	border: 1px solid #666666;
	color: #CCCCCC;
}

#contact_form form .submit_btn {
	background: #222222;
	border: 1px solid #666666;
	color: #CCCCCC;
}
/* end of contact form */
/* end of content */

/* footer */
#footer_wrapper {
	background: #090909;
	border-top: 1px solid #000;	
	border-bottom: 1px solid #000;
}

#footer {
	color: #d8d3bd;
}

.footer_menu {
	list-style: none;
}

.footer_menu li a:link, li a:visited {
	color: #D8D3BD;
}

.footer_menu li a:hover {
	color: #FFFFFF;
}

#footer img{
	background: #000;
	border: 1px solid #34322f;
}
/* end of footer */

/* copyright */
#copyright_wrapper {
	background: #000000;
	border-top: 1px solid #262626;
}

#copyright {
	text-align: center;
	color: #6e6965;
}

#copyright a, a:visited {
	color: #6e6965;
}

#copyright a:hover {
	color: #383634;
}

/* end of copyright */